<!DOCTYPE html>
<html>
<head>
	<title>home</title>



</head>
<body>

	<h1  >profile page <%=name   %></h1>

	<p>Exactly, and if you are wondering why this works, I believe I know. In HTML, the forward slash means domain plus whatever it is (in other words, domain/app.css if you use /app.css). When you use app.css without the /, it simply appends it to the URL, which works for the homepage (/ and app.css becomes /app.css), but not for the other page (/book/item/ plus app.js is /book/item/app.js, which is definitely not where your CSS file is located).</p>

</body>
</html>
